@import './variables.css';

body {
  background: var(--black1);
}

.navbar-main {
  background: var(--black1);
}

.navbar-tabs {
  background: black;
}

.files-section {
  background  : var(--black2);
  height      : calc(100vh - 56px);
  color       :white;
}

.code-section {
  padding: 0px;
}

.code-editor {
  width: 100%;
  padding: 10px;
}